{% extends 'base.html' %}
{% block title %}Enabler 6 DEMO{% endblock %}

{% block page_content_title %}Personalisation Tool Demo v1{% endblock %}

{% block page_content_rows %}
<div class="row">
    <div class="col-xl-4 col-lg-3">
        <div class="card shadow mb-4">

            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Unity:</h6>

                <i class="fa fa-spinner fa-pulse fa-3x fa-fw invisible" id="activity_running"></i>
                <span class="btn-dark btn-square">
                    <i class="fas fa-gamepad"></i>
                </span>
            </div>
            <!-- Card Body -->
            <div class="card-body d-flex justify-content-center">
                <form name="start_activity_form">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="user_level">User Level</label>
                            <select class="form-control" id="user_level">
                                <option value='0'>Beginner</option>
                                <option value='1'>Intermediate</option>
                                <option value='2'>Advanced</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="activity_level">Activity Level</label>
                            <select class="form-control" id="activity_level">
                                <option value='0'>Easy</option>
                                <option value='1'>Medium</option>
                                <option value='2'>Hard</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" id="start_activity" class="btn btn-primary visible">Start Activity</button>

                    <button type="submit" id="stop_activity" class="btn btn-secondary invisible">Stop Activity</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-3">
        <div class="card shadow mb-4">

            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Emotion Detection:</h6>

                <span class="btn-warning btn-square">
                    <i class="fas fa-smile"></i>
                </span>
            </div>
            <!-- Card Body -->
            <div class="card-body d-flex justify-content-center">

                <form name="send_emotion_form">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <button type="submit" id="send_emotion_0" class="btn btn-info col-md-12">Boredom</button>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" id="send_emotion_1" class="btn btn-success col-md-12">Flow</button>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" id="send_emotion_2" class="btn btn-danger col-md-12">Anxiety</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-3">
        <div class="card shadow mb-4">

            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Personalisation Tool:</h6>

                <span class="btn-success btn-square">
                    <i class="fas fa-heart"></i>
                </span>
            </div>
            <div class="card-header">
                Suggested Activity Level
            </div>
            <div class="card-body d-flex justify-content-center">
                <button type="button" class="btn btn-outline-dark disabled" id="suggested_activity_level">???</button>
            </div>
            <div class="card-body d-flex justify-content-center">
                <div id="recommendation_message" class="d-flex justify-content-center"></div>
            </div>
            <div class="card-header">
                Considered Emotions
            </div>
            <div class="card-body d-flex justify-content-center">
                <ul class="list-group list-group-flush justify-content-between col-md-12" id="debug_emotions_list">
                </ul>
            </div>
        </div>
    </div>

</div>


<div class="row">


    <div class="col-xl-12 col-lg-11">
        <!-- Collapsable Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#log_event_messages_collapse" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="false" aria-controls="log_event_messages_collapse">
                <h6 class="m-0 font-weight-bold text-primary">Debug Messages By Personalisation Tool:
                    <span id="events_received" class="badge badge-danger badge-counter">0</span>
                    <span id="connecting_status" class="btn-warning btn-circle">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse hide" id="log_event_messages_collapse">
                <div class="card-body">

                    <div class="form-group">
                        <label for="message_pane">Last Received Event Message:</label>
                        <textarea class="form-control" id="message_pane" cols="70" rows="15" disabled></textarea>
                        <div id="ws_log" class="d-flex justify-content-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block body_end_extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">

    var events_received = 0;

    function change_connection_css(element, connected) {
        var connection_open_outer_css = "btn-success";
        var connection_open_inner_css = "fa-check";
        var connection_close_outer_css = "btn-warning";
        var connection_close_inner_css = "fa-exclamation-triangle";
        if (connected) {
            element.removeClass(connection_close_outer_css).children('i').eq(0).removeClass(connection_close_inner_css);
            element.addClass(connection_open_outer_css).children('i').eq(0).addClass(connection_open_inner_css);
        } else {
            element.removeClass(connection_open_outer_css).children('i').eq(0).removeClass(connection_open_inner_css);
            element.addClass(connection_close_outer_css).children('i').eq(0).addClass(connection_close_inner_css);
        }
    }


    function change_activity_button(activity_started) {
        $('#recommendation_message')[0].innerHTML = "";

        if (activity_started) {
            $('#start_activity').removeClass('visible');
            $('#start_activity').addClass('invisible');

            $('#stop_activity').removeClass('invisible');
            $('#stop_activity').addClass('visible');

            $('#activity_running').removeClass('invisible');
            $('#activity_running').addClass('visible');
            $('#suggested_activity_level').html('???');
            $('#debug_emotions_list').html('');
            events_received = 0;
            $('#events_received').text(events_received);
        } else {
            $('#stop_activity').removeClass('visible');
            $('#stop_activity').addClass('invisible');

            $('#activity_running').removeClass('visible');
            $('#activity_running').addClass('invisible');

            $('#start_activity').removeClass('invisible');
            $('#start_activity').addClass('visible');

        }
    }

    const send_start_activity_el = document.getElementById('start_activity');
    send_start_activity_el.addEventListener("click", function handleSendStartActivictClick(event) {
        event.preventDefault();
        var user_level = parseInt(document.getElementById('user_level').value);
        var activity_level = parseInt(document.getElementById('activity_level').value);
        send_start_activity(user_level, activity_level);
        change_activity_button(true);
    });

    const send_stop_activity_el = document.getElementById('stop_activity');
    send_stop_activity_el.addEventListener("click", function handleSendStopActivictClick(event) {
        event.preventDefault();
        send_stop_activity();
        change_activity_button(false);
    });

    // very nonsense way of doing, but, I don't remember how to use JS so lets do like this for now...
    const send_emotion_0_activity_el = document.getElementById('send_emotion_0');
    send_emotion_0_activity_el.addEventListener("click", function handleSendEmotion0Click(event) {
        event.preventDefault();
        send_emotion(0);
    });

    const send_emotion_1_activity_el = document.getElementById('send_emotion_1');
    send_emotion_1_activity_el.addEventListener("click", function handleSendEmotion1Click(event) {
        event.preventDefault();
        send_emotion(1);
    });

    const send_emotion_2_activity_el = document.getElementById('send_emotion_2');
    send_emotion_2_activity_el.addEventListener("click", function handleSendEmotion2Click(event) {
        event.preventDefault();
        send_emotion(2);
    });


    function send_start_activity(user_level, activity_level) {
        event_data = {
            'id': 0,
            'user_level': user_level,  // 0 is beginner
            'activity_level': activity_level  // 0 is easy
        }
        socket.emit(
            'pub_event',
            {
                'event_type': '{{ START_ACTIVITY_EVENT_TYPE }}',
                'data': event_data
            }
        )
    }

    function send_emotion(emotion) {
        event_data = {
            'emotion': emotion,  // 1 is flow
        }
        socket.emit(
            'pub_event',
            {
                'event_type': '{{ EMOTION_EVENT_TYPE }}',
                'data': event_data
            }
        )
    }

    function send_stop_activity() {
        event_data = {
            'id': 0,
            'timestamp': Date.now()
        }
        socket.emit(
            'pub_event',
            {
                'event_type': '{{ END_ACTIVITY_EVENT_TYPE }}',
                'data': event_data
            }
        )
    }


    var socket = io();
    socket.on('connect', function () {
        console.log('connected!');
        change_connection_css($('#connecting_status'), true);
    });


    socket.on('disconnect', function () {
        console.log('disconnected!');
        change_connection_css($('#connecting_status'), false);
    });

    // Event handler for server sent data.
    // The callback function is invoked whenever the server emits data
    // to the client. The data is then displayed in the "Received"
    // section of the page.
    socket.on('ws_log', function (msg, cb) {
        console.log('ws_log!');
        $('#ws_log').append('<br>' + $('<div/>').text('Received: ' + msg.data).html());
    });

    function debug_event(msg) {
        events_received += 1;
        $('#events_received').text(events_received);
        var prettyJSONstr = JSON.stringify(msg.data, null, 2);
        $('#message_pane').val(prettyJSONstr);
    };

    socket.on('{{ NEXT_ACTIVITY_LEVEL_EVENT_TYPE }}', function (msg, cb) {
        console.log('{{ NEXT_ACTIVITY_LEVEL_EVENT_TYPE }}!');
        // $('#events_received').text(events_received);
        // var prettyJSONstr = JSON.stringify(msg.data, null, 2);
        // $('#message_pane').val(prettyJSONstr);
        debug_event(msg)

        let activity_level_index_map = {
            0: 'Easy',
            1: 'Medium',
            2: 'Hard'
        };

        const suggested_activity_btn = document.getElementById("suggested_activity_level");
        suggested_activity_btn.innerHTML = activity_level_index_map[msg.data.next_activity_level];

        // $('#recommendation_message').append('<br>' + $('<div/>').text('Received: ' + msg.data).html());
        var current_activity_level = parseInt(document.getElementById('activity_level').value);
        var next_activity_level = msg.data.next_activity_level;
        var message_recommendation = "You are doing great, nothing to change."
        if (current_activity_level < next_activity_level) {
            message_recommendation = "This task is too easy for you. Let's increase the challenge."
        }
        if (current_activity_level > next_activity_level) {
            message_recommendation = "This task is a bit too challenging for you. Let's make things easier."
        }
        $('#recommendation_message')[0].innerHTML = message_recommendation;
    });


    socket.on('{{ DEBUG_CONSIDERED_EMOTIONS_EVENT_TYPE }}', function (msg, cb) {
        console.log('{{ DEBUG_CONSIDERED_EMOTIONS_EVENT_TYPE }}!');

        debug_event(msg)

        // $('#debug_emotions_list').innerHTML = '';
        const emotions_ul_container = document.getElementById("debug_emotions_list");
        emotions_ul_container.innerHTML = '';

        let emotions_index_map = {
            0: 'Boredom',
            1: 'Flow',
            2: 'Anxiety'
        };
        for (const emotion of msg.data.emotions_session) {
            // <li class="list-group-item">Cras justo odio</li>
            $('#debug_emotions_list').append('<li class="list-group-item align-items-center">' + emotions_index_map[emotion] + '</li>');
            console.log(emotion);
        }
    });

</script>
{% endblock %}
